{
  "name": "${node_pkg}",
  "version": "${version}",
  "description": "A CLI tool that tells you when your next day off is.",
  "repository": {
    "type": "git",
    "url": "https://github.com/thetnaingtn/isitdayoffyet"
  },
  "keywords": ["github","go", "cli", "bubble", "bubbletea"],
  "license": "MIT OR Apache-2.0",
  "homepage": "",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}