{
  "name": "${node_pkg}",
  "version": "${version}",
  "description": "",
  "repository": {
    "type": "git",
    "url": ""
  },
  "license": "MIT OR Apache-2.0",
  "homepage": "",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}